<%- include('partials/header'); -%>

<body>
  <h1>Home</h1>
  <p><%= homeParagraph %></p>
  <% newPosts.forEach(function(post){ %>
  <h1><%= post.title %></h1>
  <p class="post"><%= post.content.substr(0,100)+"..." %>
    <a href="posts/<%= post._id %>">Read More</a>
  </p>

  <%});%>

</body>

<%- include('partials/footer'); -%>
